/* styles.css */
/* #main_layout {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin-left: 200px;
  margin-top: 90px;
} */

#question_ask_id {
  height: 100px;
  width: 100px;
}

#buttons_group {
  display: flex; /* Change from inline-flex to flex */
  align-items: center;
  position: absolute;
  z-index: 99;
  top: 200px;
  left: 100px;
  transform-origin:top; /* Set the scaling origin to the bottom edge */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.buttonW {
  width: 700px;
  height: 600px;
  transform-origin: bottom; /* Set the scaling origin to the bottom edge */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
  /* Add any other styles you need */
}

#button_yes{
  background-color: green;
  color: white;
}

#button_no{
  background-color: red;
  color: white;
}


#label_layout{
  display: flex;
  align-items: center;
}

#kissinggif{
  position: relative;
  margin-left: 460px;
}

#thankyoucontainer{
  margin-top: 120px;
}


#thankyoutext{
  position: relative;
  margin-left: 360px;
  left: 50px;
  font-size: 73px;
  color: pink;
}